<!doctype html>
<html lang="en">
  <head>
      <link rel="shortcut icon" href="#" />
      <meta charset="UTF-8"/>
      <title></title>
  </head>
  <body>
  <h1>OH..HAI VIDEO BROWSER</h1>
<!-- <lasso-body> --><script src="../../../static/src-pages-video-browser-video-browser-4eb98bb5.js"></script>
<script>$_mod.ready();</script><!-- </lasso-body> --></body>
</html>